@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap%27');

/* CSS RESET START */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}

a{
    text-decoration: none;
}

blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS RESET END */

.wrapper{
  background-color: #cfb8b4;
	font-family: 'Montserrat', sans-serif;
}

/* HEADER */

.nav-item a{
  text-decoration: none;
  color: darkslategrey;
}

.nav-item a:hover{
  color: #970504;
  text-decoration: underline;
}

#rectangle {
  width: 1535px;
  height: 90px;
  background: #cfb8b4;
  position: fixed;
  top: 0;
  z-index: 2;
}

.header {
  /* width: 1450px; */
  height: 70px;
  background: #f8dc94;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  z-index: 3;
  top: 10px;
  margin-left: 35px;
  margin-right: 35px;
  font-family: 'Fredoka One', cursive;
  font-weight: bolder;
}

.logo{
  height: 60px;
  width: 300px;
  padding-left: 20px;
}


.nav-menu {
  width: 580px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  padding-right: 20px;
  display: flex;
  font-size: 25px;
}

.content {
  background-color: #cfb8b4;
  padding-top: 40px;
}

/* FOOTER */

.last_block{
  background: #f8dc94;
  padding: 40px;
  margin-top: 40px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-left: 70px;
  margin-right: 70px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

.foot-item{
  text-decoration: none;
  font-size: 20px;
  padding-left: 120px;
  color: darkslategrey;
}

.foot-item:hover{
  color: #970504;
}

/* HOME */


.home-bg-text a{
  text-decoration: none;
  color: darkslategrey;
}

.home-bg-text a:hover{
  color: #970504;
}

.home-bd {
  height: 1165px;
  margin-left: 70px;
  margin-right: 70px;
  font-family: 'Montserrat', sans-serif;
}

.home-bg {
  background-image: url(./Assets/img1.png);
  background-size: cover;
  border-radius: 20px;
  height: 80vh;
  background-repeat: no-repeat;
}

.home-bg-text{
  font-size: 50px;
  padding-top: 100px;
  padding-left: 100px;
  color: darkslategrey;
  text-decoration: underline;
}

.title{
  font-size: 30px;
  margin-top: 60px;
}

.about-text{
  margin-top: 25px;
  font-size: 20px;
}

.bigger{
font-size: 20px;
font-weight: bolder;
padding-top: 15px;
}

ol{
  font-size: 22px;
  margin-left: 30px;
  padding-top: 20px;
}

li{
  margin-top: 12px;
  padding-top: 10px;
}

/* ARTICLES */

.articles-bd {
  height: 1710px;
  margin-left: 70px;
  margin-right: 70px;
  font-family: 'Montserrat', sans-serif;
}

.carousel {
  z-index: 1;
  margin-left: 230px;
  margin-right: 230px;
  width: 935px;
}

.n{
  text-decoration: none;
  color: white;
}

.n:hover{
  text-decoration: underline;
  color: white;
}

.article-title{
  padding-left: 550px;
  padding-bottom: 20px;
  font-size: 30px;
}

.article-cont{
  padding-left: 570px;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 25px;
}

.card_title a{
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.card_title a:hover{
  color: #970504;
}

/* INCARDS */

.card-bd{
  height: 1710px;
  margin-left: 70px;
  margin-right: 70px;
}

.button-main{
  display: "flex";
  justify-content: "center";
  align-items: "center";
  flex-direction: row;
  margin-left: 600px;
  margin-top: 250px;
  
}

.random_fact_text{
  
  display: "flex";
  text-align: center;
  font-size: 40px;
  color: rgb(68, 13, 70);
  font-weight: 70px;
  font-family: 'Montserrat';
  text-shadow: 116px;
  -webkit-text-stroke-color: rgb(200, 149, 233);
  -webkit-text-stroke-width: 0.5px;
}

/* STORIES */

.stories-bd {
  height: 510px;
  margin-left: 70px;
  margin-right: 70px;
}

/* ACCOUNT */

.account-bd {
  height: 510px;
  margin-left: 70px;
  margin-right: 70px;
  font-family: 'Montserrat', sans-serif;
}

/* SOCIALS */

.socials-bd{
  height: 710px;
  margin-left: 120px;
  margin-right: 120px;
  font-family: 'Montserrat', sans-serif;
}

.social-title{
  margin-left: 60px;
}

.cont-card{
  margin-top: 30px;
}

.cont{
  margin-top: 30px;
  margin-left: 40px;
}

/* NOTFOUND */

.notfound-bd {
  height: 510px;
  margin-left: 70px;
  margin-right: 70px;
}

.cow-level-bd{
  height: 510px;
  margin-left: 70px;
  margin-right: 70px;
}

.cow-level-bg{
  background-image: url(./Assets/img4.png);
  background-size: cover;
  position: fixed;
  left: 0;
  top: 0;
  height: 900px;
  width: 1550px;
  background-repeat: no-repeat;
  z-index: 4;
}

.logocow{
  height: 120px;
  margin-top: 80px;
  margin-left: 80px;
}

.text-cow{
  color: #970504;
  margin-top: 400px;
  margin-left: 70px;
  font-family: 'Fredoka One', cursive;
  font-weight: bolder;
}

.text-cow-little{
  margin-left: 450px;
}