@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* CSS RESET START */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}

a{
    text-decoration: none;
}

blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS RESET END */

body{
  background-color: #cfb8b4;  
	font-family: 'Montserrat', sans-serif;
  height: 2000px;
}

a{
  text-decoration: none;
}

.wrapper{
  margin-left: 70px;
  margin-right: 70px;
}

#rectangle {
  width: 1520px;
  height: 80px;
  background: lightcyan;
  position: fixed;
  top: 0;
  left: 0;
}

.header {
  width: 1450px;
  height: 60px;
  background: #f8dc94;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 10px;
  left: 35px;
}

.logo{
  height: 50px;
  width: 160px;
  padding-top: 5px;
  padding-left: 20px;
}


.nav-menu {
  width: 370px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  padding-right: 20px;
  display: flex;
  font-size: 20px;
}

.content {
  margin-top: 100px;
}